


nav{
    display:flex;
    width: 100%;
    gap: 20px;
    justify-content: flex-end;
    background-image:url(./assetss/background.jpg);
    background-size: contain;
    height: 300px;
}

nav span {
    background-color:transparent;
    color: whitesmoke;
    border-radius: 8px;
    padding: 12px 30px;
    border: 3px solid whitesmoke;
    font-size: 30px;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    display: inline-block;
    transition-duration:.5s;
    box-shadow: 0 8px o rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    height: 30px;
}

nav span a {
    text-decoration: none;
    color: whitesmoke
}

nav span:hover {
    background-color: whitesmoke;
    color:gray;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}

a.rick {
    text-decoration: none;
    color:transparent 
}

h1 {
    color: whitesmoke ;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    font-size: 40px;
    font-family:'Courier New', Courier, monospace
    


}

ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
    font-family:'Courier New', Courier, monospace
}


footer {
    border:1px solid whitesmoke;
    background-color: black;
    height: 50px;
    width: 100%;
    color: whitesmoke;
    display: flex;
    position: fixed;
    bottom: 0;
    color: whitesmoke ;
    font-family:'Courier New', Courier, monospace;
    font-size: 20px; 
    justify-content: space-around;
    align-items: center;
}

#selfPortrait {
    height: 600px;
}


.ContactMe {
    display: flex;
    justify-content: space-around;
}

body{
    background-size: cover;
    background-color: gray;
    font-family:'Courier New', Courier, monospace;
    color: whitesmoke;
    font-size: 18;


}

.about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
}

.projects {
    display: flex;
    border: 3px solid whitesmoke;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
}

footer a {
    text-decoration: none;
    color: whitesmoke;
}